// Variables only

// Fonts
$fontOne: 'Raleway', Helvetica, Arial, sans-serif;
$fontTwo: 'Puritan', Helvetica, Arial, sans-serif;
$fontThree: 'Didot', 'Times New Roman', serif;
$fontFour: 'PasticheBrush', 'Times New Roman', serif;

// Type
$font-family-sans-serif: $fontOne;
$font-size-h3: 30px;


// Navigations
$navbar-default-bg: transparent;
$navbar-default-color: #fff;
$navbar-default-brand-color: #fff;
$navbar-default-toggle-icon-bar-bg: $navbar-default-color;
$navbar-default-link-color: #472d1d;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;